* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  background-image: url("./assets/morse-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .mainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 0px 5px rebeccapurple;
  font-size: 3.5rem;
  padding: 30px;
  text-shadow: 0px 0px 30px chartreuse;
  color: limegreen;
}

.translator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
.translator .englishToMorse {
  border: 2px solid black;
  border-radius: 8px;
  background-color: orange;
  padding: 10px;
  margin: 30px;
  box-shadow: 0px 0px 8px darkslateblue;
}
.translator .englishToMorse .inputEng {
  display: flex;
  padding: 20px;
}
.translator .englishToMorse .inputEng .inputBoxEng {
  width: 400px;
  height: 30px;
  margin: 5px;
  padding: 2px;
  font-size: 20px;
  border: 1px solid brown;
}
.translator .englishToMorse .inputEng .translateEng {
  height: 30px;
  width: 150px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid brown;
}
.translator .englishToMorse .outputMor {
  display: flex;
  padding: 20px;
}
.translator .englishToMorse .outputMor .outputBoxMor {
  justify-content: end;
  width: 400px;
  height: 30px;
  margin: 5px;
  font-size: 12px;
  background-color: white;
  border: 1px solid brown;
}
.translator .englishToMorse .outputMor .refresh {
  height: 30px;
  width: 150px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid brown;
}
.translator .morseToEnglish {
  border: 2px solid black;
  border-radius: 8px;
  background-color: aqua;
  padding: 10px;
  margin: 30px;
  box-shadow: 0px 0px 8px darkslateblue;
}
.translator .morseToEnglish .inputMor {
  display: flex;
  padding: 20px;
}
.translator .morseToEnglish .inputMor .inputBoxMor {
  width: 400px;
  height: 30px;
  margin: 5px;
  padding: 2px;
  font-size: 12px;
  border: 1px solid brown;
}
.translator .morseToEnglish .inputMor .translateMor {
  height: 30px;
  width: 150px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid brown;
}
.translator .morseToEnglish .outputEng {
  display: flex;
  padding: 20px;
}
.translator .morseToEnglish .outputEng .outputBoxEng {
  justify-content: end;
  width: 400px;
  height: 30px;
  margin: 5px;
  font-size: 12px;
  background-color: white;
  border: 1px solid brown;
  font-size: 20px;
}
.translator .morseToEnglish .outputEng .refresh {
  height: 30px;
  width: 150px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid brown;
}